* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Switzer';
	src: url(/fonts/Switzer-Variable.ttf);
	font-style: normal;
	font-weight: 100 900;
	font-variation-settings: "wght" 100 900;
	font-display: swap;
	size-adjust: 111%;
}

@font-face {
	font-family: 'Switzer';
	src: url(/fonts/Switzer-VariableItalic.ttf);
	font-style: italic;
	font-weight: 100 900;
	font-variation-settings: "wght" 100 900;
	font-display: swap;
	size-adjust: 111%;
}

:root {
	/* color palette */
	--primary-dark: #222222;
	--primary-light: #dddddd;
	--accent-blue: #0011dd;
	--secondary-dark: #484848;
	--secondary-light: #ccccd1;
	/* font weight */
	--font-weight-bold: 700;
	--font-weight-semibold: 600;
	--font-weight-normal: 400;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 3.8vw;
	}

	main {
		margin: 0 1rem;
	}
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
	html {
		font-size: 2vw;
	}

	main {
		margin: 0 2rem;
	}
}

@media screen and (min-width: 1281px) {
	html {
		font-size: 1vw;
	}

	main {
		margin: 0 8rem;
	}
}

body {
	font-family: 'Switzer', 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
		'Noto Sans JP', 'BIZ UDPGothic', sans-serif;
	line-height: 1.5;
	font-feature-settings: 'palt';
	overflow-wrap: anywhere;
	word-break: normal;
	line-break: strict;
	background-color: var(--primary-light);
	color: var(--primary-dark);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

h1 {
	font-size: 2rem;
	font-weight: var(--font-weight-bold);
	font-variation-settings: "wght" var(--font-weight-bold);
}

h1.heading {
	color: var(--primary-light);
	background-color: var(--primary-dark);
	padding: 0.25rem 0.4rem;
	text-align: center;
	border-radius: 0.625rem 1rem 0.625rem 1rem;
}

h2,
h3,
h4 {
	margin: 0.8rem 0;
	font-weight: var(--font-weight-semibold);
	font-variation-settings: "wght" var(--font-weight-semibold);
	text-align: left;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.125rem;
}

strong {
	font-weight: var(--font-weight-semibold);
	font-variation-settings: "wght" var(--font-weight-semibold);
}

p {
	font-size: 1rem;
	margin: 0.625rem 0;
	font-weight: var(--font-weight-normal);
}

li {
	font-size: 1rem;
	margin: 0.4rem 0 0.4rem 1.6rem;
	font-weight: var(--font-weight-normal);
}

a {
	color: var(--accent-blue);

	&[href*="://"]:not([href^="https://peaks-and-valleys.net"])::after {
		content: "↗";
		display: inline-block;
		vertical-align: super;
		font-size: 0.5rem;
		margin: 0 0.1rem;
		text-decoration: none;
	}
}

code,
kbd,
pre,
samp {
	font-family: 'Source Code Pro', 'Menlo', 'Consolas', 'Roboto Mono', monospace;
	background-color: var(--secondary-light);
	padding: 0 0.25rem 0 0.25rem;
	border-radius: 0.25rem;
}

blockquote {
	background-color: var(--secondary-light);
	margin: 0.625rem 0.625rem;
	border-radius: 0.4rem;
	overflow: auto;
}

hr {
	color: var(--primary-dark);
	margin: 0.625rem 0 0.625rem 0;
}

address {
	font-style: normal;
}

img {
	display: block;
}

nav {
	margin: 0.4rem;

	a {
		display: inline-block;
		padding: 0.25em 1rem;
		justify-content: space-between;
		align-items: center;
		font-size: 1.6rem;
		font-weight: var(--font-weight-normal);
		font-variation-settings: "wght" var(--font-weight-normal);
		color: var(--primary-light);
		background-color: var(--primary-dark);
		text-decoration: none;
		border-radius: 0.625rem 1rem 0.625rem 1rem;

		&:hover {
			font-weight: var(--font-weight-bold);
			font-variation-settings: "wght" var(--font-weight-bold);
			background-color: var(--accent-blue);
		}
	}
}

footer {
	background-color: var(--primary-dark);
	padding: 0.25rem 0;

	* {
		text-align: center;
		color: var(--primary-light);
	}
}

.content-box {
	margin: 0.625rem 0;
	padding: 0 0.625rem;
	text-align: left;
	color: var(--primary-dark);
	border: 0.15rem solid var(--primary-dark);
	border-radius: 0.625rem 1rem 0.625rem 1rem;
}

.is-link {
	&:hover {
		color: var(--accent-blue);
		border: 0.15rem dotted var(--accent-blue);
	}
}

a:has(> .is-link) {
	text-decoration: none;
}

.description {
	color: var(--secondary-dark);
	padding: 0 0.625rem;
}