.c-card {
	margin: 0.625rem 0;
	padding: 0 0.625rem;
	text-align: left;
	color: var(--c-primary);
	border: 0.15rem solid var(--c-primary);
	border-radius: 0.625rem 1rem 0.625rem 1rem;
}

a:has(> .c-card) {
	text-decoration: none;
	@media (hover) {
		.c-card:hover {
			color: var(--c-accent-blue);
			border: 0.15rem dotted var(--c-accent-blue);
		}
	}
}
