.c-navGrid {
	margin-top: calc(var(--m-vertical) * 0.8);
	margin-bottom: var(--m-vertical);

	display: grid;
	column-gap: calc(var(--m-vertical) * 0.625);
	row-gap: calc(var(--m-horizontal) * 0.625);
	grid-template-columns: repeat(3, 1fr);

	&__link {
		list-style: none;
		margin: 0;

		text-align: center;
		padding: calc(var(--m-vertical) * 0.625) 0;
		font-size: 1.125rem;
		font-weight: var(--font-weight-normal);
		font-variation-settings: 'wght' var(--font-weight-normal);
		background-color: var(--c-primary);
		border-radius: 0.625rem 1rem 0.625rem 1rem;

		@media (hover) {
			&:hover {
				background-color: var(--c-accent-blue);
				text-decoration: none;
				font-weight: var(--font-weight-semibold);
				font-variation-settings: 'wght' var(--font-weight-semibold);
			}
		}
	}
}

a:has(> .c-navGrid__link) {
	color: var(--bg-primary);
	text-decoration: none;
}
