.l-articleContainer {
	margin: var(--spacing-l);

	hgroup {
		* {
			color: var(--c-primary);
		}

		p {
			font-size: 0.8rem;
			color: var(--c-secondary);
		}
	}

	h1,
	h2,
	h3,
	h4 {
		border-inline-start: calc(var(--spacing-l) * 0.625) solid var(--c-secondary);
		margin-inline-start: calc((-1) * var(--spacing-l));
		padding-inline-start: calc(var(--spacing-l) * (1 - 0.625));
	}
}

.l-articleList {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing-m);
	text-align: left;
	color: var(--c-primary);

	&:has(article) {
		list-style: none;
		margin-inline-start: 0;
	}
}
