footer {
	background-color: var(--c-primary);
	padding: calc(var(--m-vertical) * 0.625) calc(var(--m-horizontal) * 0.625);
	* {
		color: var(--bg-primary);
		font-size: 0.8rem;
		margin: calc(var(--m-vertical) * 0.625) 0;
	}
}
