.l-globalWrapper {
	background-color: var(--c-accent-blue);
	display: flex;
	justify-content: center;
	@media screen and (max-width: 1279.8px) {
		padding-inline-start: 0.625rem;
	}
}
.l-mainContentWrapper {
	min-height: 100vh;
	background-color: var(--bg-primary);
	width: 100%;
	max-width: 1280px;
}
