.l-globalWrapper {
	background-color: var(--c-accent-blue);
	display: flex;
	justify-content: center;
	padding-inline: 0.4rem;
}
.l-mainContentWrapper {
	min-height: 100vh;
	background-color: var(--bg-primary);
	width: 100%;
	max-width: 1280px;
}
