.l-navList {
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xxs);
	color: var(--bg-primary);
	nav,
	section {
		ul {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			gap: var(--spacing-xxs);
			li {
				list-style: none;
				background-color: var(--c-primary);
				padding-inline: var(--spacing-xs);
				padding-block: var(--spacing-xxs);
				margin-inline-start: 0;
				margin-block-start: 0;
			}
		}
		a {
			color: var(--bg-primary);
			text-decoration: underline transparent 2px;

			@media (any-hover) {
				&:hover {
					text-decoration-color: currentColor;
				}
			}

			&[aria-current='page'],
			&[aria-current='true'] {
				text-decoration-color: currentColor;
			}
		}
	}
	&--bottom {
		section {
			ul {
				justify-content: flex-end;
			}
		}
	}
}
