.l-navList {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: var(--bg-primary);
	nav {
		* {
			font-size: 1.25rem;
		}
		ul {
			list-style: none;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			column-gap: calc(var(--m-horizontal) * 0.4);
			li {
				background-color: var(--c-primary);
				margin: calc(var(--m-vertical) * 0.25) 0;
				padding: calc(var(--m-vertical) * 0.4) calc(var(--m-horizontal) * 0.4);
			}
		}
		a {
			color: var(--bg-primary);
		}
	}

	&--sub {
		position: sticky;
		top: calc(100vh - var(--m-vertical));
		nav {
			* {
                text-align: right;
				font-size: 1rem;
			}

			ul {
				justify-content: flex-end;
			}
		}
	}
}
