.l-navList {
	display: flex;
	flex-direction: column;
	margin: var(--m-vertical) 0;
	color: var(--bg-primary);
	nav {
		* {
			font-size: 1.125rem;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			li {
				background-color: var(--c-primary);
				margin: calc(var(--m-vertical) * 0.25) 0;
				margin-right: calc(var(--m-horizontal) * 0.25);
				padding: calc(var(--m-vertical) * 0.4) calc(var(--m-horizontal) * 0.4);
			}
		}
		a {
			color: var(--bg-primary);
		}
	}

	&--sub {
		nav {
			* {
				font-size: 1rem;
			}

			ul {
				justify-content: end;
			}
		}
	}
}
