---
title: '2日連続で10時間以上寝た'
description: 'そのことをなんとか肯定したい'
date: '2025-04-18'
draft: 'true'
---

もともとロングスリーパー気質の自覚がある。
睡眠時間が7時間以下の日は誰の目にも明らかにポンコツで、8時間寝てようやく人並みか少し悪いくらいの性能になる、気がする。あくまで感覚的な話。

で、1日に10時間以上寝た日があった。
2日連続で。

10時間ぶっ通しで寝たわけではなくて、夜に8時間+昼間に2時間、みたいな配分。
昼寝しておいて夜になったらちゃんと眠くなる自分に静かにウケながら寝た。

ただ、その後は流石にいつもより頭が冴えた気がした。
もしかして、日頃の8h/日の睡眠でも足りないのか？
勘弁してくれ。なんもできひんやん。

---

とはいえ、不眠よりは遥かに良い状態だよな、と思いもした。
眠いはずなのに実際に眠ることはできない、みたいな状態になったことはあって（幸いそこまで重症化しなかったが）、それに比べれば遥かに贅沢な悩みに思えた。