.p-articles {
	&__heading {
		color: var(--bg-primary);
		background-color: var(--c-primary);
		padding: 0.25rem 0.625rem;
		text-align: center;
	}
}

.p-article {
	margin: 0.8rem 0;
	padding: 0 0.625rem;
	text-align: left;
	color: var(--c-primary);
	border: 0.15rem solid var(--c-primary);
}

a:has(> .p-article) {
	text-decoration: none;
	@media (hover) {
		.p-article:hover {
			color: var(--c-accent-blue);
			border: 0.15rem dotted var(--c-accent-blue);
		}
	}
}
