.p-articleContainer {
	margin-inline: var(--spacing-m);

	hgroup {
		margin-block: calc(var(--spacing-m) - var(--half-leading));

		* {
			color: var(--c-primary);
			margin-block-start: var(--spacing-xs);
		}

		p {
			font-size: 0.8rem;
			color: var(--c-secondary);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		border-inline-start: calc(var(--spacing-m) * 0.625) solid var(--c-secondary);
		margin-inline-start: calc((-1) * var(--spacing-m));
		padding-inline-start: calc(var(--spacing-m) * (1 - 0.625));
	}
}

.p-articleList {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing-m);
	text-align: left;
	color: var(--c-primary);

	&:has(article) {
		list-style: none;
		margin-inline-start: 0;
	}
}
