*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:where(:root) {
	line-height: 1.6;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html {
	overflow-wrap: anywhere;
	word-break: normal;
	line-break: strict;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
picture {
	max-width: 100%;
	display: block;
}
